<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myMedicoLabel" jhiTranslate="desafioMaisVidaApp.medico.home.createOrEditLabel">Create or edit a Medico</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!medico.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="medico.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="desafioMaisVidaApp.medico.primeiroNome" for="field_primeiroNome">Primeiro Nome</label>
            <input type="text" class="form-control" name="primeiroNome" id="field_primeiroNome"
                [(ngModel)]="medico.primeiroNome" required/>
            <div [hidden]="!(editForm.controls.primeiroNome?.dirty && editForm.controls.primeiroNome?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.primeiroNome?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="desafioMaisVidaApp.medico.ultimoNome" for="field_ultimoNome">Ultimo Nome</label>
            <input type="text" class="form-control" name="ultimoNome" id="field_ultimoNome"
                [(ngModel)]="medico.ultimoNome" required/>
            <div [hidden]="!(editForm.controls.ultimoNome?.dirty && editForm.controls.ultimoNome?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.ultimoNome?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="desafioMaisVidaApp.medico.especialidade" for="field_especialidade">Especialidade</label>
            <input type="text" class="form-control" name="especialidade" id="field_especialidade"
                [(ngModel)]="medico.especialidade" required/>
            <div [hidden]="!(editForm.controls.especialidade?.dirty && editForm.controls.especialidade?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.especialidade?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="desafioMaisVidaApp.medico.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                [(ngModel)]="medico.email" required/>
            <div [hidden]="!(editForm.controls.email?.dirty && editForm.controls.email?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.email?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="desafioMaisVidaApp.medico.ativo" for="field_ativo">Ativo</label>
            <input type="checkbox" class="form-control" name="ativo" id="field_ativo"
                [(ngModel)]="medico.ativo" />
            <div [hidden]="!(editForm.controls.ativo?.dirty && editForm.controls.ativo?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.ativo?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="desafioMaisVidaApp.medico.status" for="field_status">Status</label>
            <select class="form-control" name="status" [(ngModel)]="medico.status" id="field_status"  required>
                <option value="OCUPADO">{{'desafioMaisVidaApp.StatusMedicoEnum.OCUPADO' | translate}}</option>
                <option value="DISPONIVEL">{{'desafioMaisVidaApp.StatusMedicoEnum.DISPONIVEL' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.status?.dirty && editForm.controls.status?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.status?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="desafioMaisVidaApp.medico.cidade" for="field_cidade">Cidade</label>
            <input type="text" class="form-control" name="cidade" id="field_cidade"
                [(ngModel)]="medico.cidade" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="desafioMaisVidaApp.medico.estado" for="field_estado">Estado</label>
            <input type="text" class="form-control" name="estado" id="field_estado"
                [(ngModel)]="medico.estado" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
