<div>
    <h2>
        <span jhiTranslate="desafioMaisVidaApp.medico.home.title">Medicos</span>
        <button class="btn btn-primary float-right jh-create-entity create-medico" [routerLink]="['/', { outlets: { popup: ['medico-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="desafioMaisVidaApp.medico.home.createLabel">
            Create new Medico
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="medicos">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="primeiroNome"><span jhiTranslate="desafioMaisVidaApp.medico.primeiroNome">Primeiro Nome</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="ultimoNome"><span jhiTranslate="desafioMaisVidaApp.medico.ultimoNome">Ultimo Nome</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="especialidade"><span jhiTranslate="desafioMaisVidaApp.medico.especialidade">Especialidade</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="email"><span jhiTranslate="desafioMaisVidaApp.medico.email">Email</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="ativo"><span jhiTranslate="desafioMaisVidaApp.medico.ativo">Ativo</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="status"><span jhiTranslate="desafioMaisVidaApp.medico.status">Status</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="cidade"><span jhiTranslate="desafioMaisVidaApp.medico.cidade">Cidade</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="estado"><span jhiTranslate="desafioMaisVidaApp.medico.estado">Estado</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let medico of medicos ;trackBy: trackId">
                <td><a [routerLink]="['../medico', medico.id ]">{{medico.id}}</a></td>
                <td>{{medico.primeiroNome}}</td>
                <td>{{medico.ultimoNome}}</td>
                <td>{{medico.especialidade}}</td>
                <td>{{medico.email}}</td>
                <td>{{medico.ativo}}</td>
                <td jhiTranslate="{{'desafioMaisVidaApp.StatusMedicoEnum.' + medico.status}}">{{medico.status}}</td>
                <td>{{medico.cidade}}</td>
                <td>{{medico.estado}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../medico', medico.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'medico/'+ medico.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'medico/'+ medico.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
